.todo-item {
  display: grid;
  grid-template-columns: 160px 1fr 2fr 90px 120px;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  &__icon {
    color: var(--main-color);
    width: 25px;
    height: 25px;
  }

  &__remove-btn {
    margin-left: auto;
  }

  &__read-more {
    font-size: 0.8rem;
    color: grey;
  }
}

.todo-item_finished {
  animation: finished 0.25s ease-in-out forwards;
}

.todo-item_finished .todo-item__grid-item {
  text-decoration: line-through;
}

.todo-item_finished .todo-item__line-through {
  text-decoration: line-through;
}

.todo-item_finished .todo-item__icon {
  color: #fff;
}

.todo-item_finished .todo-item__read-more {
  color: #fff;
}

.todo-item_finished .checkbox__control {
  border-color: #fff;
}

.todo-item_overdue {
  background-color: lightcoral;
  color: #fff;
}

.todo-item_overdue .checkbox__control {
  border-color: #fff;
}

.todo-item_overdue .todo-item__icon {
  color: #fff;
}

.todo-item_overdue .todo-item__read-more {
  color: #fff;
}

.todo-item_removing {
  animation: remove 0.5s ease-in-out;
}


@keyframes finished {
  from {
    background-color: #fff;
    color: #000;
  }

  to {
    background-color: #214921;
    color: #fff;
  }
}

@keyframes remove {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}